.footer {
  background-color: #D9D9D9;

  &__holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;
    margin-top: 20px;
  }
}